/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a, a:hover, a:active {
	text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	background-color: #f9f9f9;
	font-family: 'Roboto', sans-serif;
}

.messages-table {
  cursor: pointer;
}

.Wrapper {
  padding: 1rem 2rem;
}

.Wrapper.no-right {
	padding-right: 0;
}

.Headbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
	height: 3.6rem;
  background-color: #f5f5f5;
}

.Headbar-logo {
	height: 3rem;
}

.Logo {
	display: flex;
	align-items: center;
}

.Logo-icon img {
	display: block;
	height: 100%;
	width: auto;
}

.Account {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 2.3rem;
}

.Account-image{
	display: block;
	height: 100%;
	width: auto;
	border-radius: 50%;
}

.Account-perso {
	margin-left: 1rem;
}

.Perso-name {
	font-size: 0.9rem;
}

.Perso-email {
	font-size: 0.8rem;
}

.Perso-signout {
	font-size: 0.7rem;
}

.HeadingToolbar {
  display: flex;
	align-items: center;
	height: 4rem;
	background-color: #ffffff;
	box-shadow: 0 2px 3px rgba(100,100,100,0.1);
	margin-bottom: 5px;
}

.HeadingToolbar-composeEmail {
	background-color: #ea4335;
	color: #fff;
	font-size: 0.9rem;
}

.HeadingToolbar-goBack-button {
	background-color: transparent;
	font-size: 1.4rem;
}

.Button.HeadingToolbar-goBack-button{
	padding-left: 0;
}

.HeadingToolbar-goBack-button::before {
	content: "\f060";
	font-family: 'FontAwesome';
}

.HeadingToolbar-composeEmail::before {
	content: "\f040";
}

.Messages-actions-back::before {
	content: "\f177";
}

.Button {
	border: 0;
	border-radius: 0.2rem;
	padding: 0.5rem 1.5rem;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.Button.action::before {
	font-family: 'FontAwesome';
	font-size: 1.1rem;
	margin-right: 1.2rem;
}

.Paging {
  display: flex;
}

.AppColumn {
  display: flex;
  justify-content: space-between;
	flex-direction: column;
}

.AppColumn.left {
	width: 14rem;
	padding-right: 5rem;
}

.AppColumn.main {
  flex: 1;
}

.AppColumn.row {
	flex-direction: row;
	align-items: center;
}

.HeadingToolbar-column {
	padding-left: 1rem ;
}

.MainSection {
  display: flex;
	height: calc(100vh - 8rem - 5px);
  background-color: #f9f9f9;
}

.MailCategories {
	display: flex;
	flex-direction: column;
}

.MailCategories-group {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(159, 159, 159, 0.5);
}

.MailCategories-group:last-child {
	border: 0;
}

.MailCategories-link {
	margin: 1rem 0;
	color: #9f9f9f;
	font-weight: bold;
	font-size: 0.9rem;
}

.MailCategories-link:first-child {
	margin-top: 0;
}

.MailCategories-link.active {
	color: #ea4335;
}

.MailCategories-link:hover {
	color: #565656;
}

.MessagesList, .Message {
	width: 100%;
	padding-right: 1rem;
	overflow-y: scroll;
}


.MessageLine {
	display: flex;
	padding: 1rem;
	margin-bottom: 0.5rem;
	background-color: #fff;
	border-radius: 0.3rem;
	box-shadow: 0 2px 3px rgba(100,100,100,0.1);
	color: #dbdbdb;
	cursor: pointer;
	font-size: 0.9rem;
}

.MessageLine:hover {
	margin-top: -1px;
	margin-bottom: calc(0.5rem + 1px);
	box-shadow: 0 3px 5px rgba(100,100,100,0.1);
	background-color: #f1f1f1;
}

.MessageLine.unread, .MessageLine.unread .MessageLine-sender {
	color: #6f6f6f;
	font-weight: 500;
}

.MessageLine-content {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}

.MessageLine-select {
	width: 1.5rem;
	margin-right: 2rem;
	display: flex;
	align-items: center;
}

.MessageLine-sender {
	width: 8rem;
	color: #9f9f9f;
}

.MessageLine-subject {
	flex: 0.9;
}

.MessageLine-sender{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.GoogleSignIn {
	margin-right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.GoogleSignIn-button {
	background-color: #ea4335;
	padding: 1rem 2rem;
	color: #fff;
	font-size: 1.2rem;
}

.Message {
	margin-right: 2rem;
}

.MessageContainer {
	margin-top: 1rem;
	background-color: #fff;
	border-radius: 0.2rem;
	max-width: 100%;
	margin-bottom: 1rem;
	box-shadow: 0 2px 3px rgba(100,100,100,0.2);
}

.MessageContainer-header {
	display: flex;
	flex-direction: column;
}

.MessageContainer-header-top, .MessageContainer-header-bottom, .MessageContainer-content, .MessageContainer-footer {
	padding: 2rem;
}

.MessageContainer-header-top{
	border-bottom: 1px solid rgba(100, 100, 100, 0.1);
}

.MessageContainer-header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.MessageContainer-footer {
	display: flex;
	justify-content: flex-end;
}

.Receiver {
	display: flex;
	align-items: center;
}

.Receiver-title {
	margin-right: 2rem;
}

.Message-input {
	border: 0;
	font-size: 0.9rem;
	outline: none;
	padding: 0.5rem 1rem;
}

.Message-input:focus {
	outline: 1px solid rgba(100,100,100, 0.3);
}

.Subject-input {
	width: 100%;
}

.Content-input {
	width: 100%;
	min-height: 10rem;
	font-family: 'Roboto';
}
